name: Java CI with Testcontainers

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      # Docker-in-Docker service for Testcontainers
      docker:
        image: docker:dind
        options: --privileged
        env:
          DOCKER_TLS_CERTDIR: ""

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'
        
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
      
    - name: Cache Maven packages
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2-
        
    - name: Build and test with Maven
      run: mvn -B test --file pom.xml
      env:
        TESTCONTAINERS_RYUK_DISABLED: "true"
        TESTCONTAINERS_CHECKS_DISABLE: "true"
        TESTCONTAINERS_RYUK_CONTAINER_IMAGE: testcontainers/ryuk:0.5.1
