server:
  port: 8082

spring:
  application:
    name: vote-service

  datasource:
    url: jdbc:postgresql://localhost:5432/voting
    username: voting
    password: password
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  flyway:
    enabled: true