server:
  port: 8082

spring:
  application:
    name: vote-service

  datasource:
   url: ${DB_URL:jdbc:postgresql://localhost:5432/voting}
   username: ${DB_USERNAME:voting}
   password: ${DB_PASSWORD:password}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  flyway:
    enabled: true